<!DOCTYPE html>
<html>
<head>
  <title>Brazil timezone</title>
  <%= stylesheet_link_tag    "brazil_timezone/application", media: "all" %>
  <%= javascript_include_tag "brazil_timezone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
